<div class="row">
  <div class="container">
    <div class="center">
      <mat-card style="text-align:center;">
        <mat-card-header>
          <mat-card-title>LOGIN</mat-card-title>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <mat-card-content>
            <!-- <form> -->
            <mat-form-field>
              <input matInput placeholder="Email" class="form-control" formControlName="email" type="text"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="17" autofocus>

            </mat-form-field>

            <br>
            <mat-form-field>
              <input matInput placeholder="Password" minlength="7" maxlength="8" class="form-control"
                formControlName="password" type="password">
            </mat-form-field>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="warn" [routerLink]="['/students']">Back to student list</button>
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
          </mat-card-actions>
        </form>

      </mat-card>
    </div>
  </div>
</div>
